{% extends 'base.html' %}
{% block title %} To-do | Home {% endblock %}

{% block content %}
    <!-- <h1>Hello World</h1> -->
     <!-- success messages -->
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert" >
                <button type="button" class="btn-close" data-bs-dismiss="alert">
                    <small><sup></sup></small>
                </button>
                {{ message }}
            </div>
            
        {% endfor %}

      {% endif %}
     <!-- check if the things from the db/List model are there or not -->
      {% if all_items %}
      <!-- including table and adding bootstrap class -->
        <table class="table table-bordered">
            {% for items in all_items %}
                {% if items.is_completed %}
                    <tr class ="table-success">
                        <td class="striker">{{items.item | title}}</td> <!-- | character and title allows the first letter to be capitalized -->
                        <td><center>{{items.is_completed}}</center></td>
                        <td><center><button class="btn btn-outline-secondary" type="submit">Delete</button></center></td>
                        
                    </tr>
                {% else %}    
                    <tr>
                        <td>{{items.item | title}}</td> <!-- | character and title allows the first letter to be capitalized -->
                        <td><center>{{items.is_completed}}</center></td>
                        <td><center><button class="btn btn-outline-secondary" type="submit">Delete</button></center></td>
                    
                    </tr>
                {% endif %}    
            {% endfor %}    
        </table>
        
      {% endif %}  
{% endblock %}